export(.polyCub.iso)
export(circleCub.Gauss)
export(discpoly)
export(gpclibPermit)
export(gpclibPermitStatus)
export(plotpolyf)
export(polyCub)
export(polyCub.SV)
export(polyCub.exact.Gauss)
export(polyCub.iso)
export(polyCub.midpoint)
exportMethods(coerce)
importClassesFrom(rgeos,gpc.poly)
importFrom(rgeos,get.bbox)
importFrom(spatstat,area.xypolygon)
importFrom(spatstat,as.im.function)
importFrom(spatstat,as.polygonal)
importFrom(spatstat,disc)
importFrom(spatstat,is.hole.xypolygon)
importFrom(spatstat,owin)
importFrom(spatstat,plot.im)
importFrom(spatstat,plot.owin)
importFrom(spatstat,reverse.xypolygon)
importFrom(statmod,gauss.quad)
importMethodsFrom(rgeos,coerce)
importMethodsFrom(rgeos,plot)
